/*Variables*/
:root{
    /*color variables*/
    --primary: #fefefe;
    --onprimary : #f0f0f0;
    --secondary: #13141a;
    --onsecondary: #565658;
    --coloured-text: #1a63cf;
    --coloured-btn: #0066ff;
    --toast: #1e1f22;
    --border: #dde;
    --text: var(--secondary);
}

html, body, #ROOT{
    width: 100%;
    font-size: large;
    color: var(--text);
    overflow-x: hidden;

    /*Prevent text selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body{
    height: 100%;
    margin: 0;
    /*display: inline-block;*/
}

h2, p{
    margin: 0;
}

.coloured-text{
    color: var(--coloured-text);
}

.coloured-btn{
    background: var(--coloured-btn);
    padding: 10px;
    cursor: pointer;
    color: var(--primary);
    font-size: large;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 0px var(--primary), 2px 0px 8px var(--onsecondary);
}

.coloured-btn:active{
    box-shadow: revert 0px 0px 0px var(--primary), 
        revert 2px 0px 8px var(--onsecondary);
}

.btn-text{
    cursor: pointer;
}

.btn-text:active{
    color: var(--coloured-btn);
}

.Negative_color{
    background-color: rgb(211, 24, 63);
}

.Neutral_color{
    background-color: rgb(24, 63, 211);
}

.Positive_color{
    background-color: rgb(63, 211, 24);
}

.icon{
    width: 25px;
    height: 25px;
}

canvas{
    width: 500px;
    height: 250px;
}

#loadscreen{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f0f0f08f;
    display: flex;
    align-items: center;
    justify-content: center;
}

#load-spiner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

#load-spiner div {
    background: var(--coloured-btn);
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: load-spiner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#load-spiner div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes load-spiner {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
  
#toastcontainer{
    width: 100%;
    position: fixed;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toast{
    padding: 15px;
    border-radius: 6px;
    background: var(--toast);
    color: var(--primary);
}

#ROOT{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#nav_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    padding: calc(1.5%);
    box-shadow: 0px 0px 0px var(--primary), 2px 0px 8px var(--onsecondary);
}

#navbar h2{
    color: var(--coloured-text);
}

#footbar{
    width: 100%;
    justify-content: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#footbar1, #footbar2{
    width: 98%;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    border-top: 1px solid var(--secondary);
}

#footbar1{
    padding: 2%;
    justify-content: flex-end;
}

#footbar2{
    padding: 1%;
    justify-content: center;
}

#footwidgets{
    width: 25%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footwidgets a{
    text-decoration: none;
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainbody{
    width: 100%;
    min-height: 500px;
}

#contentbody{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#searchbar{
    width: 75%;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchbar input[type="text"]{
    width: 60%;
    padding: 10px;
    font-size: large;
    border: 1px solid var(--secondary);
    border-radius: 6px;
    margin-right: 10px;
}

.social_media{
    margin-bottom: 5px;
	padding: 2px;
    width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (max-width : 768px){

    html, body, #ROOT{
        font-size: x-large;
    }

    canvas{
        width: 600px;
        height: 300px;
    }
    
    #navbar{
        width: 97%;
        padding: calc(1.5%);
        box-shadow: 0px 0px 0px var(--primary), 
        2px 0px 8px var(--onsecondary);
    }
        
    #footbar2{
        height: 25px;
    }

    #mainbody{
        min-height: 800px;
    }

    .social_media p{
        font-size: xx-large;
    }

    #searchbar{
        width: 80%;
    }

    #searchbar input[type="text"]{
        font-size: x-large;
        width: 90%;
    }
}

@media only screen and (max-width : 400px){

    html, body, #ROOT{
        font-size: large;
    }

    canvas{
        width: 360px;
        height: 130px;
    }

    .social_media{
        width: 80%;
    }

    #navbar{
        height: 70px;
    }

    #navbar h2{
        font-size: x-large;
    }
    
    #footbar1{
        height: 60px;
        width: 96%;
        padding: 10px 2% 10px 2%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #mainbody{
        min-height: 800px;
    }

    #searchbar{
        width: 90%;
        display: flex;
        flex-direction: column;
        height: 150px;
        align-items: flex-start;
        justify-content: space-around;
    }

    #searchbar input[type="text"]{
        font-size: x-large;
        width: 96%;
        padding: 10px 2% 10px 2%;
        height: 40px;
    }

    #footwidgets{
        width: 96%;
        padding: 2%;
        flex-direction: row;
    }
    
    #footwidgets a p{
        display: none;
    }
}