<!DOCTYPE html>
<html>
    <head>
        <link rel="manifest" href=" {{ context.path }}manifest.json" />
        <link rel="icon" href="{{ context.path }}images/tweetvibe.png">
        <link rel="stylesheet" type="text/css" href="{{ context.path }}css/utils.css">
        <link rel="stylesheet" type="text/css" href="{{ context.path }}css/{{ context.file }}.css">
        <link rel="stylesheet" type="text/css" href="static/css/Chart.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/all.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="origin">
        <meta charset = "utf-8">
        <!--<meta name="theme-color" content="#06f">-->
        <meta property="og:site_name" content="Tweet Vibe">
        <meta property="og:title" content="Tweet Vibe">
        <meta property="og:description" content="{{ context.description }}">
        <meta property="og:image" content="{{ context.path }}images/logo.svg">
        <meta property="og:type" content="website"/>
        <title>Tweet Vibe</title>
    </head>
    <body>
        <main id="ROOT"></main>
    </body>
    <script src="static/js/Chart.min.js"></script>
    <script>
        function showBarChart(id, label, data, labels, bg, bc) {
            const ctx = document.getElementById(id).getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: label,
                        data: data,
                        backgroundColor: bg,
                        borderColor: bc,
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        function showDoughnutChart(id, label, data, labels, bg, bc) {
            const ctx = document.getElementById(id).getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: labels,
                    datasets: [{
                        label: label,
                        data: data,
                        backgroundColor: bg,
                        borderColor: bc,
                        borderWidth: 2
                    }],
                    hoverOffset: 4
                }
            });
        }

        async function fetchWithTimeOut(url, body, content_type, meth, timeout) {

            var status;
            var resp;
            var response;
            const options = {
                method: meth,
                headers: {
                    'Content-Type': `${content_type}; charset=UTF-8`,
                },
                body: body,
            };
            const controller = new AbortController();
            const id = setTimeout(() => {
                controller.abort();
                setToast("Request Timed out", 2000);
            }, timeout);

            if (meth === "Get" | meth === "Head"){

                response = await fetch(url, {signal: controller.signal});
            }else{

                response = await fetch(url, {...options, signal: controller.signal});
            }

            clearTimeout(id);
            return {ok : response.ok, status : response.status, text : await response.text()};
        }
    </script>
    <script src = "{{ context.path }}js/{{ context.file }}.js"></script>
</html>